@page "/EnvioMuestras2/{IdExamen}"

<AuthorizeView Roles="Administrador, Usuario">
    <Authorized Context="AuthenticationState">

    </Authorized>

    <NotAuthorized>
        <h3>No tiene permisos para acceder a esta ruta</h3>
    </NotAuthorized>

</AuthorizeView>